<!DOCTYPE html>
<html>
<head>
    {% include  'nav.html' %}
</head>
<body>
    <form action="{{ url_for('get_food_truck_by_block') }}" method="get">
        <label for="block">Enter Block to search for Food Trucks:</label><input type="search" name="block" id="block" value="{{ block }}"></input> 
        <button type="submit">Search</button>
    </form>

    <br><br><br>

    {% if result_size > 0 %}
    <section>
        <table width="100%" border=1>
            <colgroup>
                <col width="15%"/>
                <col width="20%"/>
                <col width="25%"/>
                <col width="15%"/>
                <col width="25%"/>
            </colgroup>
            <tr>
                <th><strong>Location ID</strong></th>
                <th>Food Truck</th>
                <th>Address</th>
                <th>Block</th>
                <th>Food Type</th>
            </tr>
            {% for i in range(0, result|length) %} 
            <tr>
                <td>{{result[i]['locationid']}}</td>
                <td>{{result[i]['applicant']}}</td>
                <td>{{result[i]['address']}}</td>
                <td>{{result[i]['block']}}</td>
                <td>{{result[i]['food']}}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif %}
</body>
</html>